@import './../../styles/color.scss';

.expense-container {
    .createBtn {
        position: absolute;
        right: 15px;
        top: 15px;
        background-color: $c-dark;
        color: $c-white;
    }

    .filter-section {
        display: flex;
        margin: 15px;

        input {
            color: $c-dark;
        }
    }

    .item-container {
        padding: 0 15px;
        .item {
            border-radius: 5px;
            border: 1px solid $c-dark;
            padding: 5px 8px;
            margin-bottom: 5px;

            div {
                display: flex;
            }

            svg {
                cursor: pointer;
            }
        }
        
        // Grid layout for larger screens
        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }

    .my-select {
        border: none;
        outline: none;
        border-bottom: 2px solid $c-dark;
        background-color: transparent;
        color: $c-dark;

        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }
        
        & > div {
            border: none;
            outline: none;
            box-shadow: none;
            color: $c-dark;

            &:focus {
                outline: none;
                border: none;
                box-shadow: none;
            }

            // &:last-of-type {
            //     & > div > div:hover {
            //         background-color: $c-dark;
            //         color: $c-white;
            //     }
            // }
        }
    }

}

.dark .expense-container {
    .createBtn {
        background-color: $c-primary;
        color: $c-dark;
    }

    .filter-section { 
        input, label {
            color: $c-white;
        }
    }

    .item-container {
        .item {
            border-color: $c-white;
        }
    }

    .my-select {
        border: none;
        border-bottom: 2px solid $c-white;
        background-color: $c-dark;
        color: $c-white;
        
        & > div {
            border: none;
            background-color: $c-dark;
            color: $c-white;


            &:focus {
                outline: none;
                border: none;
            }

            // &:last-child {
            //     & > div > div:hover {
            //         background-color: $c-primary;
            //         color: $c-dark;
            //     }
            // }
        }
    }
}