@keyframes slideUp {
    from {
        transform: translateY(100%); // Start position
    }
    to {
        transform: translateY(0); // End position (center)
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%); // Start position
    }
    to {
        transform: translateY(0); // End position (center)
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}